# Ignore all
!.gitignore
*
!index.html
!*/
!/StudyPlan_Syllabus/*.doc
!/StudyPlan_Syllabus/*.pdf
!/StudyPlan_Syllabus/*.xls
!/StudyPlan_Syllabus/*.html
!/StudyPlan_Syllabus/
!/StudyPlan_Syllabus/Res/*
!/StudyPlan_Syllabus/Docs/2018-10-30*
!/English/*.html
!/English/*.jpg

# !/(*/*.doc

*My*



